
body
  font 100% Open Sans, Helvetica, sans-serif
  background-color #fff
  color #111
  padding .6em
  -webkit-font-smoothing antialiased

/* title */
h1
  font-size 150%
  color #d3d3d3d3
  letter-spacing .01em
  text-align center

// post
h3
  font-family acta-display, Georgia, Times, serif
  font-size 3em
  color #333
  margin-top 1em
  text-align center

a, a:visited
  color #333
  text-decoration: none;

a:hover
  color #999

.container
  padding 0 1em
  max-width 42.5em
  margin auto
